.filters {
  width: 100vw;
  height: 80px;
  // background-color: blue;
  padding: 15px 15px;

  // align-items: center;
}

.dummy-button {
  // background-color: green;
  width: 90px;
}


.filters-flex {
  display: flex;
  justify-content: space-between;
}

.type-buttons {
  display: flex;
}

.type-button {
  cursor: pointer;
  padding: 6px 12px;
  border: 2px solid $main-blue;
  margin-right: 5px;
  border-radius: 3px;

}

.type-deselected {
  color: $main-blue;
  background-color: white;

  &:hover {
    color: white;
    background-color: $main-blue;
  }
}


.type-selected {
  background-color: $main-blue;
  color: white;

  &:hover {
    background-color: white;
    color: $main-blue;
  }
}
