.navbar {
  // width: 100vw;
  // height: 70px;
  padding: 12px 15px;
  // background-color: red;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $lighter-grey;
  box-shadow: 2px 2px 3px $lighter-grey;
}

.navbar-logo {

  margin-right: 10px;
}

.navbar-icon {
  color: $main-blue;
  font-size: 30px;
}

.navbar-section {
  display: flex;
  align-items: center;
}


.nav-searchbar {
  height: 42px;
  font-size: 18px;
  width: 250px;
  border: 1px solid $lighter-grey;
  border-radius: 3%;
  color: $lighter-grey;
  padding-left: 6px;
}

@media (min-width: 600px) {
  .nav-searchbar{
    width: 450px;
  }
}

.navbar-sign-in {
  color: $main-blue;
  font-weight: bold;
  border-radius: 5%;
  border: 2px solid white;
  height: 30px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

.nav-basket-icon {

  z-index: 100;
  margin-right: -8px;
}

.navbar-basket {
  margin-right: 20px;
  display: flex;
  align-items: center;
  // position: relative;

}

.basket-active {
  cursor: pointer;
  &:hover {
    transform: scale(1.10);
    text-decoration: none !important;
  }
}



.basket-cost {
  height: 46px;
  width: 46px;
  z-index: -100;
  background-color: $pink;
  color: white;
  border-radius: 50%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;


  // &:hover {
  //   transform: scale(1.13)
  // }


}
