<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <title>MSc Restaurant</title>
    <meta name="title" content="MSc Restaurant">
    <meta name="description" content="Order at your favourite restaurants, in advance - so it's ready when you arrive!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="MSc Restaurant">
    <meta property="og:description" content="Order at your favourite restaurants, in advance - so it's ready when you arrive!">
    <meta property="og:image" content="https://restaurant-app.s3.eu-west-2.amazonaws.com/emmy-smith-LEjEst7lLfU-unsplash.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="MSc Restaurant">
    <meta property="twitter:description" content="Order at your favourite restaurants, in advance - so it's ready when you arrive!">
    <meta property="twitter:image" content="https://restaurant-app.s3.eu-west-2.amazonaws.com/emmy-smith-LEjEst7lLfU-unsplash.jpg">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="preload" as="style" onload="this.rel='stylesheet'"/> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="preload" as="style" onload="this.rel='stylesheet'"/>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css' rel='stylesheet' rel="preload" as="style" onload="this.rel='stylesheet'"/>
    <link rel="preconnect" href="https://restaurant-app.s3.eu-west-2.amazonaws.com">
    <link rel="preconnect" href="https://m.stripe.com">
    <!-- <link rel="preconnect" href="https://js.stripe.com/v3/"> -->
    <link rel="preconnect" href="https://m.stripe.network">
    <link rel="preconnect" href="https://api.postcodes.io">

  </head>
  <body>
    <div id="root"></div>
    <script id="stripe-js" src="https://js.stripe.com/v3/" async></script>

  </body>
</html>
